@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
}

.page {
    width: 100%;
    max-width: 375px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    flex-wrap: wrap;
}

section {
    min-width: 327px;
    background-color: #F0F4FC;
    border-radius: 10px 10px 0px 0px;
    padding: 24px 24px 18px;
}

h1 {
    font-size: 17px;
    font-weight: 500;
    color: #1F4284;
    margin-bottom: 14px;
    line-height: 28.02px;
}

p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20.8px;
    color: #727272;
}

button {
    width: 279px;
    height: 56px;
    padding: 10px 10px 10px 18px;
    border-radius: 60px;
    background-color: #244C98;
    border: none;
    margin-top: 18px;
}

button div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button span {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

.main-img {
    min-width: 327px;
    width: 100%;
    background: url("images/image375.png") no-repeat;
    min-height: 220px;
    background-size: cover;
    border-radius: 0px 0px 10px 10px;
}

@media screen and (min-width: 767px) {
    .page {
        max-width: 768px;
        padding: 24px;
    }

    section {
        padding: 24px;
    }

    .main-img {
        background: url("images/image768.png") no-repeat;
        background-size: cover;
        height: 360px;
    }

    h1 {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 18px;
    }

    p {
        font-size: 15px;
        line-height: 24px;
    }

    button {
        margin-top: 24px;
    }
}

@media screen and (min-width: 1439px) {
    .page {
        flex-wrap: nowrap;
        max-width: 1440px;
        padding: 35px 40px 36px;
    }

    section {
        border-radius: 10px 0px 0px 10px;
        padding: 105px 100px 115px 72px;
        width: 50%;
    }

    .main-img {
        background: url("images/image1440.png") no-repeat;
        background-size: cover;
        width: 50%;
        height: 456px;
        border-radius: 0px 10px 10px 0px;
    }

    h1 {
        font-size: 26px;
        line-height: 42px;
    }

    p {
        font-size: 17px;
        line-height: 28px;
    }

    button {
        margin-top: 36px;
        font-size: 17px;
        line-height: 27.2px;
    }
}

@media screen and (min-width: 1919px) {
    .page {
        max-width: 1920px;
        padding: 36px 40px;
    }

    section {
        padding: 102px 330px 102px 72px;
    }

    .main-img {
        background: url("images/image1920.png") no-repeat;
        background-size: cover;
    }

    h1 {
        font-size: 30px;
        line-height: 48px;
    }

    button {
        font-size: 18px;
        line-height: 29px;
        margin-top: 46px;
    }
}